# [speed&direction] (캐글 따라하기) 타이타닉 데이터 분석

#### 이번 블로그는 다음의 참고자료를 통해 재구성한 것이다.

- 캐글 코리아 블로그(타이타닉 튜토리얼) : https://kaggle-kr.tistory.com/17#2_6
- [수비니움의 캐글 따라하기] 타이타닉 : Beginner Ver. : https://www.kaggle.com/subinium/subinium-tutorial-titanic-beginner/data?select=train.csv

- 데이터 분석을 공부하는 초보자로써 캐글에서 유명한 타이타닉 데이터 분석을 하려고 한다. 
- 타이타닉은 역사상 최악의 해난 사고로 영화로도 그 스토리가 제작이 되었다.
- 이번 블로그에서 타이타닉에 탑승한 사람들의 여러가지 피처를 활용하여, 승선한 사람들의 생존여부를 예측하는 모델을 생성할 것이다.
- 1912년 당시에는 계급이 있었고, 영화에서도 나왔지만 타이타닉의 선실은 1.2.3 등급의 선실로 나뉘어져 있었으며 구명 보트에 사람을 태울때도 1등급의 선실에 있는 사람을 먼저 태운 후 여자와 아이들을 태웠다. 캐글의 데이터도 이와 같은지 분석을 해보려고 한다.

#### 시작에 앞서

- 데이터 정보를 최소한으로 살피면서 분석한다.
- 어려운 메서드나 복잡한 함수는 최대한 피하면서 분석한다.
- 분석을 위한 필수적인 요소와 순서를 서술한다.
- 초보자가 쉽게 따라할수 있게 한다.

#### 1. 라이브러리 불러오기

타이타닉 데이터 분석에 앞서 필요한 라이브러리를 불러오자.

In [16]:
# 데이터 분석에 관련한 라이브러리 불러오기.
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [17]:
# 데이터 시각화 관련한 라이브러리 불러오기.
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid') 
%matplotlib inline

In [18]:
# Scikit-Learn의 다양한 머신러닝 모듈 불러오기.
# 분류 알고리즘 중에서 LogisticRegression, LinearSVC, RandomForestClassifier, KNeighborsClassifier 알고리즘을 사용해 보자.
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

#### 2. 데이터 가져오기

캐글 뿐만 아니라 데이터 분석에서 가장 많이 사용되는 파일 형식은 csv 파일이다.
코드로 데이터를 읽는 방법은 여러가지 있지만, 그 중에서도 가장 유용한 것은 pd.read_csv로 읽는 방법이다.

In [19]:
# 데이터 가져오기
train_df = pd.read_csv("/home/jaeyoon89/kaggle_titanic_study/train.csv")
test_df = pd.read_csv("/home/jaeyoon89/kaggle_titanic_study/test.csv")

In [20]:
# head() 함수를 이용해 앞의 5번째까지의 데이터 확인하기
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S